django>=4.1.0
djangorestframework~=3.14.0
pyyaml
requests~=2.31.0
django-cors-headers
openai~=1.12.0
transformers~=4.38.1
python-dotenv~=1.0.1
numpy~=1.26.4
soundfile~=0.12.1
torch
tensorflow
whisper~=1.1.10
PyPDF2~=3.0.1
nltk~=3.8.1
langdetect~=1.0.9
textstat~=0.7.3
beautifulsoup4~=4.12.3