name: Django CI

on:
  workflow_dispatch:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.12
        cache: 'pip'
    - name: Create API key file
      env:
        OPENAIKEY: ${{ secrets.OPENAIKEY }}
      run: |
        echo $OPENAIKEY > .env
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        if [ $? -ne 0 ]; then echo "Dependencies failed to install"; exit 1; fi
    - name: Run migrations
      run: |
        python manage.py migrate
    - name: Install expect
      run: |
        sudo apt-get install -y expect
    - name: Run server
      run: |
        python manage.py runserver 8000 &
    - name: Lint with flake8
      run: |
        # Halt workflow if flake8 finds Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # Exit-zero treats all errors as warnings. GitHub Actions will turn warnings into errors if flake8 finds anything
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Run Tests
      run: |
        python manage.py test